# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/ipch/9bb9da2a14aeb1bd/mmap_address.bin
.vscode/ipch/a9516ecb25ef740f/MAIN.ipch
.vscode/ipch/a9516ecb25ef740f/mmap_address.bin
.vscode/ipch/b9c21847fcffe1f6/mmap_address.bin
.vscode/ipch/b9c21847fcffe1f6/FUNKCIJOS.ipch
